# dependencies
node_modules
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/

# env
.env
.env*.local

# prisma
src/generated/

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
coverage/
.turbo/
.vercel/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-*.log
collab-server*.log
*.log
